<!-- IMPORTANT: Please only change text and links. Leave the HTML structure unchanged -->

<footer class="site-footer">
  <span class="site-footer-owner">
    <a href="https://github.com/opencarecc/inpe">In Pe'</a> is maintained by
    <a href="https://github.com/opencarecc">opencarecc</a>.
  </span>

  <div>
    <p class="site-footer-credits">This project has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 688670</p>
    <img src="http://opencare.cc/assets/OC-EC-H2020.jpg">
  </div>
</footer>
