<div class="column">
  <div class="img_slider">
  <!-- {% for item in site.data[page.lang].lang["slick"]["pics"] %}
      <img src="{{ item.pic }}">
    {% endfor %} -->
    <img src="{{ site.baseurl }}/assets/slick_pics/26243604794_4d8f3e1617_k.jpg">
    <img src="{{ site.baseurl }}/assets/slick_pics/26243608564_0793221be7_k.jpg">
    <img src="{{ site.baseurl }}/assets/slick_pics/IMG_2758.jpg">
    <img src="{{ site.baseurl }}/assets/slick_pics/IMG_2665.jpg">
    <img src="{{ site.baseurl }}/assets/slick_pics/vlcsnap-2016-10-18-14h51m38s735.jpg">
    <img src="{{ site.baseurl }}/assets/slick_pics/IMG_1760.jpg">
  </div>

  <!-- slider caption -->
  <p>{{ site.data[page.lang].lang["slick"]["description"] }}</p>
  <!-- <p style="text-align:center">Moments from the co-design session, testing and prototyping of InPe</p> -->
</div>
