---
layout: default
title: All the news about InPe'
ref: blog
lang: en
---

<!-- title -->
<div class="row">
  <h1>{{ page.title }}</h1>
</div>

<!-- list of posts in lang -->
<ul class="posts">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}"><h2>{{ post.title }}</span></h2></a>
      <p class="postdate">{{ post.date | date_to_string }}</p>
      <img src="{{ post.image }}">
      {{ post.excerpt }}
      <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}"><em>{{ site.data[page.lang].lang["global"]["read_more_post"] }} &raquo;</em></a>
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<!-- <div class="pagination"> -->
  <!-- {% if posts.previous_page %} -->
    <!-- <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">&laquo; {{ site.data["lang"]["pagination"]["previous"] }}</a> -->
    <!-- <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">&laquo; Precedente</a> -->
    <!-- <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">&laquo; {{ site.data[page.lang].lang["pagination"]["previous"] }}</a> -->
  <!-- {% endif %} -->

  <!-- {% if posts.total_pages > 1 %} -->
    <!-- <span class="page_number ">{{ site.data["lang"]["pagination"]["page_1"] }} {{ paginator.page }} {{ site.data["lang"]["pagination"]["page_2"] }} {{ paginator.total_pages }}</span> -->
    <!-- <span class="page_number ">Pagina {{ paginator.page }} di {{ paginator.total_pages }}</span> -->
    <!-- <span class="page_number ">{{ site.data[page.lang].lang["pagination"]["page_1"] }} {{ paginator.page }} {{ site.data[page.lang].lang["pagination"]["page_2"] }} {{ paginator.total_pages }}</span> -->
  <!-- {% endif %} -->

  <!-- {% if posts.next_page %} -->
    <!-- <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">{{ site.data["lang"]["pagination"]["next"] }} &raquo;</a> -->
    <!-- <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Seguente &raquo;</a> -->
    <!-- <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">{{ site.data[page.lang].lang["pagination"]["next"] }} &raquo;</a> -->
  <!-- {% endif %} -->
<!-- </div> -->
